* {
    box-sizing: border-box;
    margin: 0;
}

/* Web Studio */

.conteiner__nav {
    width: 1600px;
    height: 80px;
}

.nav_logo {
    position: absolute;
    width: 145px;
    height: 31px;
    left: 215px;
    top: 24px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: #2196F3;
}

span {
    color: #2196F3;
}

a {
    color: #000000;
    text-decoration: none;
}

li {
    list-style: none;
}

.social-links {
    display: flex;
    justify-content: center;
    width: 259px;
    height: 48px;
    margin-left: 453px;
    padding: 32px;
    gap: 46px;
}

.active_line::after {
    content: "";
    display: block;
    position: absolute;
    margin-top: 26px;
    width: 53px;
    height: 4px;
    background: #2196F3;
    border-radius: 2px;
}

.active:hover {    
    background: #2196F3;
    transition-duration: 3000ms;
    transition-timing-function: linear;
}

.nav_link {
    width: 42px;
    height: 48px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #212121;
}

.nav_link:hover,
.nav_link:focus {
    color: #2196F3;
    transition: 350ms linear;   
}

.link_link_nav {
    display: flex;
    position: absolute;
    left: 1052px;
    top: 34px;
    bottom: 30px;
}

.link_link {
    display: flex;
    gap: 10px;
    width: 178px;
    color: #757575;
}

.link_link_icon {
    margin-top: 2px;    
}

.link_link:hover,
.link_link:focus {
    color: #2196F3;
    transition: 350ms linear;
}

/* Order the service */

.section__order_the_service {
    width: 1600px;
    height: 600px;
    background-color: #2F303A;
    background-image: url(../images/car_design.jpg);
}

.order_the_service_heading {
    position: absolute;
    width: 696px;
    height: 120px;
    margin-left: 452px;
    margin-top: 200px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;   
}

.order_the_service_button {
    position: absolute;
    width: 200px;
    height: 50px;
    margin-left: 700px;
    margin-top: 350px;
    background: #2196F3;
    color: #FFFFFF;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
}

/* What we do */

.section__post {
    max-width: 1200px; 
    min-height: 731px; 
    margin-left: 215px;
    margin-top: 94px;
}

.post_item {
    display: flex;
    width: 1190px;
    height: 251px;
    border: 5px;
    margin: auto;
    margin-left: -30px;
    list-style: none;
}

.post_article {
    margin: 20px;
}

.post_article h5 {
    font-family: 'Roboto';
    font-style: normal;
    margin-top: 30px;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;
}

.post_article p {
    position: absolute;
    width: 270px;
    height: 75px;
    margin-top: 10px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #757575;
}

.icon_item {
    justify-content: center;
    align-items: center;
    background: #F5F4FA;
    border-radius: 4px;
}

.post_icon_item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 270px;
    height: 120px;
    background: #F5F4FA;
    border-radius: 4px;
}

.post-heading {
    margin-top: 94px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}

.post-images {
    display: flex;
    margin-top: 50px;
    gap: 40px;
    margin-top: 70px;
    list-style: none;
}

.post_description P {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -74px;
    position: relative;
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
    width: 370px;
    height: 70px;
    background: rgba(47, 48, 58, 0.8);
}

/* Our team*/

.section__our_team {
    width: 1600px;
    height: 708px;
    margin-top: 50px;
    background: #F5F4FA;
    border: 1px dotted #F5F4FA;
}

.our_team_heading {
    position: absolute;
    width: 220px;
    height: 42px;
    margin-left: 695px;
    margin-top: 94px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}

.our_team_employees {
    display: flex;
    width: 1200px;
    margin: 0 auto;
    height: 368px;
    margin-top: 186px;
    margin-left: 215px;
    gap: 39px;
}

.employee {
    width: 270px;
    height: 428px;
    background: #FFFFFF;
    text-align: center;
    list-style: none;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.employee h4 {
    margin-top: 25px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.03em;
    color: #212121;
}

.employee p {
    margin-top: 10px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    padding: 10px;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.03em;
    color: #757575;
}

.employee_icons {
    display: flex;
    gap: 10px;
    margin-left: 34px;
}

.social_media_icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    fill: #afb1b8;
}

.social_media_icon:hover,
.social_media_icon:focus {
    background-color: #2196F3;
    fill: #FFFFFF;
    color: #FFFFFF;
    transition: 500ms linear;
}

/* Our customers */

.section__our_customers {
    max-width: 1600px;
    min-height: 372px;
    border: 1px double white;
}

.our_customers_heading {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    margin-top: 94px;
    margin-left: 701px;
    line-height: 42px;
    letter-spacing: 0.03em;
    color: #212121;
}

.our_customers_icons {
    display: flex;
    gap: 35px;
    margin-left: 215px;
    margin-top: 50px;
}

.customers_icons {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 92px;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    fill: #AFB1B8;
}

.customers_icons:hover,
.customers_icons:focus {
    fill: #2196F3;
    border: 1px solid #2196F3;
    transition: 500ms linear;
}

/* Web Studio adress */

.conteiner__adress {
    position: absolute;
    width: 1600px;
    height: 252px;
    left: 0px;
    background: #2F303A;  
}

.web_studio {
    font-family: 'Raleway';
    font-style: normal;
    margin-top: 60px;
    margin-left: 215px;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}

.web_studio_link {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-left: 177px;
    gap: 9px;
    list-style: none;
}

.social-links_link {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}

.mail  {
    color: #757575;
}

.join_us_heading {
    position: absolute;
    margin-left: 531px;
    margin-top: -38px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.join_us {
    display: flex;
    gap: 10px;
    margin-top: -85px;
    margin-left: 531px;
    width: 206px;
    height: 46px;
}

.join_us_icon {
    display: flex; 
    align-items: center;
    justify-content: space-around;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.1);
    fill: #FFFFFF;
}

.join_us_icon:hover,
.join_us_icon:focus {
    background-color: #2196F3;
    transition: 500ms linear;   
}

.sign_up {
    width: 580px;
    height: 86px;
    margin-top: -90px;
    margin-left: 815px;
}

.sign_up_heading {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;    
    color: #FFFFFF;
}

.sign_up_input {
    width: 358px;
    height: 50px;
    margin-top: 19px;
    margin-right: 12px;
    padding-left: 16px;
    background-color: #2F303A;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
}

 .sign_up_button {
    top: 10px;
    left: 42px;
    width: 200px;
    height: 50px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    color: #FFFFFF;
}



/* Portfolio */


.container__portfolio {
    width: 1600px;
    height: 1880px;
    margin: 0;
}

/* Portfolio buttons*/

.section__portfolio {
    box-sizing: border-box;
    width: 1600px;
    height: 1548px;
    border: 2px dashed dimgray;
    border: 1px solid #ECECEC;
}

.portfolio_buttons {
    display: block;
    margin-left: 510px;
    margin-top: 94px;
    gap: 8px;

}

.buttons {
    font-family: 'Roboto';
    font-style: normal;
    width: 121px;
    height: 38px;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121; 
    border: 1px double #F5F4FA;
}

.buttons:hover,
.buttons:focus {
    background-color: #2196F3;
    color: #FFFFFF;
    transition: 500ms linear;
}

.section__general_page {
    display: flex;
    flex-wrap: wrap;
    width: 1200px;
    height: 1250px;
    gap: 30px;
    margin-left: 215px;
    margin-top: 50px;
}

.portfolio_images {
    width: 370px;
    height: 404px;
    background: #FFFFFF;
}

.portfolio_images_box {
    position: relative;
    width: 370px;
    height: 294px;
    overflow: hidden;
}

.overlay {
    position: absolute;
    width: 370px;
    height: 297px;
    letter-spacing: 0.03em;
    background: rgba(33, 150, 243, 0.9);
    transform: translateY(0);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.overlay p {
    font-family: 'Roboto';
    width: 322px;
    height: 140px;
    margin-top: 65px;
    margin-left: 24px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.03em;
    color: #FFFFFF;

}

.portfolio_images_box:hover .overlay {
    transform: translateY(-100%);
    overflow: hidden;
}

.portfolio_images:hover  {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio_our_work {
    background-color: #FFFFFF;
    width: 370px;
    height: 110px;
    border: 1px solid #EEEEEE;
}

.portfolio_images h4 {
    margin-top: 20px;
    margin-left: 24px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 0.06em;
    color: #212121;
}

.portfolio_our_work p {
    margin-top: 4px;
    margin-left: 24px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.03em;
    color: #757575;
}

/* Portfolio adress */

.container__adress_portfolio {
    margin-top: 0;
    width: 1600px;
    height: 252px;
    background-color: #2F303A;
    border: 1px solid #2F303A;
}
  




/* modal window */

.backdrop {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
}

.conteiner__modal_window {
    box-sizing: border-box;
    margin-top: 221px;
    margin-left: 536px;
    width: 528px;
    min-height: 581px;
    background-color: #FFFFFF;
    animation: animate100 2000ms;
}

@keyframes animate100 {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

.close-btn {
    position: absolute;
    width: 30px;
    height: 30px;
    margin-top: 8px;
    margin-left: 490px;
    border-radius: 50%;
    background: #000000;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: transparent;
    cursor: pointer;
}

.is-hidden {
    display: inline-block;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.modal_heading {
    position: absolute;
    margin-top: 40px;
    margin-left: 70px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.03em;    
}

.form_data_model {
    display: flex;
    width: 448px;
    height: 342px;
    margin-left: 40px;
}

.modal {
    margin-top: 70px;
}

.modal_form {
    display: flex;
    flex-wrap: wrap;
    width: 448px;
    height: 68px;
}

.modal_text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;    
    letter-spacing: 0.01em;    
    color: #757575;
}

.modal_input {
    display: flex;
    width: 448px;
    height: 40px;
    padding-left: 42px;
    margin-top: 3px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal_icon {
    margin-top: -29px;
    margin-left: 13px;
}

.modal_input:focus {
    outline: none;
    border-color: #2196f3;
}

.modal_input:focus + .modal_icon {
    fill: #2196f3;
}

textarea {
    width: 448px;
    height: 120px;
    margin-top: 4px;
    padding-top: 12px;
    padding-left: 16px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    resize: none;
}

textarea:focus {
    outline: none;
    border-color: #2196f3;
}

.modal_checkbox_input {
    appearance: none;
}

.modal_regulamin {
    position: absolute;
    margin-top: 435px;
    margin-left: -420px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;    
    letter-spacing: 0.03em;    
    color: #757575;
}

.modal_regulamin::before {
    content: "";
    position: absolute;
    display: block;
    width: 16px;
    height: 15px;
    margin-left: -25px;
    top: 3px;
    border: 1px solid #212121;
    border-radius: 4px;
}

.modal_checkbox_input:checked + .modal_regulamin::before {
    background-color: #2196F3;
    border: 1px solid #2196F3;
    background-image: url(../images/SVG/icon.svg);
    background-repeat: no-repeat;
}

.modal_privacy_policy {
    color: #2196F3;
}

.modal_checkbox_button {
    width: 200px;
    height: 50px;
    margin-top: 480px;
    margin-left: -330px;
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    cursor: pointer;
    border: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    color: #FFFFFF;
}